# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# 4 space indentation for Godot files
[*.gd]
indent_style = tab
indent_size = 4

# Tab indentation (no size specified)
[*.tscn]
indent_style = tab
indent_size = 4

[*.tres]
indent_style = tab
indent_size = 4
